#app {
  flex-grow: 1;
}

fieldset {
  border: 0;
}

fieldset > legend {
  color: yellowgreen;
}

footer {
  margin-right: 25px;
  text-align: right;
  font-size: small;
}

footer > a {
  color: white;
  text-decoration: none;
}

footer > a:hover {
  color: red;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 7%;
}

.controller {
  display: flex;
  flex-direction: column;
  margin: 0 0 25px 0;
  padding: 0;
  width: 100%;
}

.controller__label {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.controller__range {
  -webkit-appearance: none;
  background: black;
  border: 2px solid red;
  height: 5px;
  margin-top: 10px;
  outline: none;
}

/* for Chrome/Safari */
.controller__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: black;
  border: 1px solid white;
  border-radius: 2px;
  cursor: pointer;
  height: 15px;
  width: 15px;
}

.controller__range::-webkit-slider-thumb:hover {
  background: red;
}

/* for Firefox */
.controller__range::-moz-range-thumb {
  background: black;
  border: 2px solid white;
  border-radius: 2px;
  cursor: pointer;
  height: 15px;
  width: 15px;
}

.controller__range::-moz-range-thumb:hover {
  background: red;
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    main {
      margin: 0 18px;
    }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    main {
      padding: 0 32px;
    }
    .controller__label {
      width: 100%;
      margin: 20px;
    }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    main {
      padding: 0 180px;
    }
    .controller__label {
      margin: 20px;
    }
}

@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    main {
      padding: 0 64px;
    }
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    main {
      padding: 0 100px;
    }
}

@media screen
  and (min-device-width: 1025px)
  and (max-device-width: 4800px)
  and (-webkit-min-device-pixel-ratio: 1) {
    main {
      align-items: initial;
      display: flex;
      flex-direction: row;
      padding: 0;
    }
}
