name: Project deploy
on:
  push:
    branches:
      - main
jobs:
  gh-pages-deploy:
    name: Deploying to Github Pages
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18]
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install packages
        run: pnpm i
      - name: Test packages
        run: pnpm run test:unit
      - name: Set Creds
        run: git config user.name "Mark" && git config user.email "${{ secrets.EMAIL }}"
      - name: Deploy
        run: pnpm run deploy
